import { type ModuleEntry } from "@/lib/config/module-entry";

export const Config: DashboardConfig = {
  units: "metric",
  modules: [
    {
      name: "display-text",
      position: "top_bar",
      config: {
        text: "Hello World!",
      },
    },
    {
      name: "calendar",
      position: "top_center",
      config: {
        api_key: ""
      }
    }
  ],
};

type DashboardConfig = {
  units: string;
  modules: ModuleEntry[];
};
