import { type CalendarConfig } from "@/modules/calendar/types";

export const calendarConfigs: CalendarConfig[] = [
  {
    id: "dadsemail@gmail.com",
    name: "Dad",
    color: "bg-green-500",
    isParent: true,
  },
  {
    id: "kidsemail@gmail.com",
    name: "Jane",
    color: "bg-purple-500",
    isParent: false,
  },
];

export const todolistConfigs: TodolistConfig[] = [
  {
    assigneeId: 12345678,
    assigneeName: "Jane",
    color: "bg-purple-500",
  },
];